{% extends 'base.html.twig' %}

{% block title %}Hello JokeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                <div class="row m-3">
                    <div class="col p-3 shadow-sm" style="background-color: aliceblue; border-radius: 10px">
                        <label for="{{ form.content.vars.id }}">
                            🤡 Your <span style="font-size: 10px">bad</span> joke :
                        </label>
                        {{ form_row(form.content) }}
                        {{ form_row(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col" style="overflow-x: hidden; height: 95vh;">
                <section>
                    {% for joke in jokes %}
                        <article class="card m-3 shadow-sm">
                            <div class="card-header bg-primary">
                                <div class="row justify-content-end">
                                    <a class="ml-2 mr-2 text-white" href="{{ path("joke", {'id': joke.id}) }}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="text-white" href="{{ path("delete", {'id': joke.id}) }}">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body pb-1">
                                <p>{{ joke.content }}</p>
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-success m-1">
                                        <i class="fas fa-thumbs-up mr-1"></i><span class="badge badge-light">0</span>
                                    </button>
                                    <button type="button" class="btn btn-danger m-1">
                                        <i class="fas fa-thumbs-down mr-1"></i><span class="badge badge-light">0</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer text-muted font-weight-light">
                                {{ joke.publicationDate|date('m/d/Y H:i:s') }}
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
