{% extends 'base.html.twig' %}

{% block title %}Hello JokeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col p-3" style="background-color: aliceblue; border-radius: 10px">
                        <label for="{{ form.content.vars.id }}">
                            🤡 Your <span style="font-size: 10px">bad</span> joke :
                        </label>
                        {{ form_row(form.content) }}
                        {{ form_row(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col" style="overflow-x: hidden; height: 95vh;">
                <section>
                    {% for joke in jokes %}
                        <article class="card m-3">
                            <form class="row justify-content-end m-1" action="{{ path("delete", {'id': joke.id}) }}">
                                <button class="btn"><i class="fas fa-times" style="color: grey"></i></button>
                            </form>
                            <div class="card-body">
                                <p>{{ joke.content }}</p>
                                <p>{{ joke.publicationDate|date('m/d/Y H:i:s') }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
